@page "/landing"
@layout LandingLayout

@{
    string titleLogo = $"img/MicrosoftTeams-image__2_-removebg-preview.png";
    string yomalogo = $"img/Yoma_Bank_Logo.svg.png";
    <div class="box-blue"></div>
    <div class="box-orange"></div>
    //<div class="row">
    //    <div class="col-lg-12">
    //        <div class="col-md-4" style="margin-top:-50px;">
    //            <img src="@(titleLogo)" style="width:250px;" />
    //        </div>
    //        <div class="col-md-4" style="margin-top:-50px; float:right">
    //            <img src="@(titleLogo)" style="width:250px;" />
    //        </div>
    //    </div>
    //</div>
}

@code {

}
