@inherits LayoutComponentBase

<PageTitle>SimpleAdminPanel</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p style="font-size:18px;color:orangered;margin:auto">Sales Pipeline Application Admin Portal</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
